<div class="clear sticky-wrapper sticky-wrapper--adaptive" style="z-index: {{z}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="sticky-wrapper__box">
          <div class="sticky-wrapper__box__content">
            <div class="main-title" style="padding-top: 110px;">{{page.clear_title|safe}}</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="clear__title" style="padding-top: 110px;">{{page.clear_title_1}}</div>
        <div class="clear__text">{{page.clear_text_1}}</div>
        <div class="main-box-wrapper__content" style="margin-bottom: 142px;">
          <div class="main-box-wrapper__content__imgs">
            <div class="item">
              <picture>
                <source type="image/" srcset="/static/home/media/image/clear1.jpg">
                <img src="/static/home/media/image/clear1.jpg" alt="img">
              </picture>
            </div>
            <div class="item" style="padding-top: 30px;">
              <picture>
                <source type="image/" srcset="/static/home/media/image/clear2.jpg">
                <img src="/static/home/media/image/clear2.jpg" alt="img">
              </picture>
            </div>
          </div>
          <div class="training__big-title">{{page.clear_title_2}}</div>
          <div class="training__big-desc">{{page.clear_text_2}}</div>
        </div>
      </div>
    </div>
  </div>
</div>