<div class="first-press sticky-wrapper" style="background-color: #fff; z-index: {{z}}">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="sticky-wrapper__box">
          <div class="sticky-wrapper__box__content">
            <div class="main-title" style="padding-top: 128px;">{{page.filter_title|safe}}</div>
          </div>
        </div>
      </div>
      <div class="col-6" style="padding-top: 128px;">
        <picture class="first-press__img">
          <source type="image/" srcset="/static/home/media/image/filter.jpg">
          <img src="/static/home/media/image/filter.jpg" alt="img">
        </picture>
        <div class="first-press__text" style="margin-top: 32px; margin-bottom: 128px;">{{page.filter_text}}</div>
      </div>
    </div>
  </div>
</div>