<div class="first-press sticky-wrapper sticky-wrapper--adaptive" style="background-color: #fff; z-index: {{z}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="sticky-wrapper__box">
          <div class="sticky-wrapper__box__content">
            <div class="main-title" style="padding-top: 128px;">{{page.filter_title|safe}}</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" style="padding-top: 128px;">
        <div class="first-press__adaptive">
          <picture class="first-press__img">
            <source type="image/" srcset="/media/{{page.filter_img}}">
            <img src="/media/{{page.filter_img}}" alt="img">
          </picture>
          <div class="first-press__text" style="margin-top: 32px; margin-bottom: 128px;">{{page.filter_text}}</div>
        </div>
      </div>
    </div>
  </div>
</div>