<div class="first-press sticky-wrapper" style="z-index: {{z}}">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="sticky-wrapper__box">
          <div class="sticky-wrapper__box__content">
            <div class="main-title" style="padding-top: 147px;">{{page.cold_title|safe}}</div>
          </div>
        </div>
      </div>
      <div class="col-6" style="margin-bottom: 149px;">
        <div class="first-press__title" style="padding-top: 147px;">Прессование</div>
        <div class="first-press__text">{{page.cold_text}}</div>
        <picture class="first-press__img">
          <source type="image/" srcset="/static/home/media/image/press.jpg">
          <img src="/static/home/media/image/press.jpg" alt="img">
        </picture>
      </div>
    </div>
  </div>
</div>