<div class="materials sticky-wrapper sticky-wrapper--adaptive">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="sticky-wrapper__box">
          <div class="sticky-wrapper__box__content">
            <div class="materials__text" style="padding-top: 59px;">
              <div class="main-title main-title--active">{{page.first_title|safe}}</div>
              <div class="desc desc--active">{{page.first_text}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="main-box-wrapper__content" style="padding-top: 59px; margin-bottom: 196px;">
          <picture class="materials__img">
            <source type="image/" srcset="/static/home/media/image/material1.jpg">
            <img src="/static/home/media/image/material1.jpg" alt="img">
          </picture>
          <div class="main-box-wrapper__content__imgs">
            <div class="item">
              <picture>
                <source type="image/" srcset="/static/home/media/image/material2.jpg">
                <img src="/static/home/media/image/material2.jpg" alt="img">
              </picture>
            </div>
            <div class="item">
              <picture>
                <source type="image/" srcset="/static/home/media/image/material3.jpg">
                <img src="/static/home/media/image/material3.jpg" alt="img">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>