{% load static %}
<section class="main-box-wrapper oil-oil sticky-wrapper sticky-wrapper--adaptive">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="sticky-wrapper__box">
          <div class="sticky-wrapper__box__content">
            <h3 class="main-box-wrapper__title" style="padding-top: 128px">{{page.first_title|safe}}</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="main-box-wrapper__content" style="padding: 80px 0; min-height: 100vh;">
          <div class="main-box-wrapper__content__imgs">
            <div class="item">
              <picture>
                <source type="image/" srcset="/media/{{page.first_img_1}}">
                <img src="/media/{{page.first_img_1}}" alt="img">
              </picture>
              <div class="oil-oil__text">{{page.first_text_1}}</div>
            </div>
            <div class="item" style="padding-top: 80px;">
              <picture>
                <source type="image/" srcset="/media/{{page.first_img_2}}">
                <img src="/media/{{page.first_img_2}}" alt="img">
              </picture>
              <div class="oil-oil__text">{{page.first_text_2}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>