{% load static %}
<section class="main-box-wrapper proof sticky-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="sticky-wrapper__box">
          <div class="sticky-wrapper__box__content">
            <h3 class="main-title" style="padding-top: 128px;">{{page.proof_title|safe}}</h3>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="proof__top-title" style="padding-top: 128px;">{{page.proof_title_1}}</div>
        <picture class="proof__img">
          <source type="image/" srcset="/static/home/media/image/proof.jpg">
          <img src="/static/home/media/image/proof.jpg" alt="img">
        </picture>
        <div class="proof__text">{{page.proof_text}}</div>
      </div>
    </div>
  </div>
</section>