<div class="clear clear-vivid-oil sticky-wrapper sticky-wrapper--adaptive" style="background-color: #fff; z-index: {{z}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="sticky-wrapper__box">
          <div class="sticky-wrapper__box__content">
            <div class="main-title" style="padding-top: 128px;">{{page.oil_title|safe}}</div>
            <div class="pre-title">{{page.oil_title_small}}</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="main-box-wrapper__content" style="padding-top: 128px; margin-bottom: 128px;">
          <div class="main-box-wrapper__content__imgs">
            <div class="item">
              <picture>
                <source type="image/" srcset="/static/home/media/image/ol1.jpg">
                <img src="/static/home/media/image/ol1.jpg" alt="img">
              </picture>
            </div>
            <div class="item" style="padding-top: 30px;">
              <picture>
                <source type="image/" srcset="/static/home/media/image/ol2.jpg">
                <img src="/static/home/media/image/ol2.jpg" alt="img">
              </picture>
            </div>
          </div>
          <div class="training__big-title">{{page.oil_title_1}}</div>
          <div class="training__big-desc">{{page.oil_text}}</div>
        </div>
      </div>
    </div>
  </div>
</div>