<!doctype html>
<html lang="ru" xmlns="">
<head>
    {% load static %}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-grid.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='{% static "home/css/main.css" %}'>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}VIVID{% endblock %}</title>
</head>
<body>

<div id="preloader"></div>

{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block content %}
<section class="partner-contact">
  <div class="business-next-page">
    <div class="text">Перейти к следующему разделу</div>
    <a href="/business/" class="button">Бизнес</a>
  </div>
</section>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'home/buildjs/index.js' %}"></script>
<script>
  window.onload = function () {
    setTimeout(function () {
      document.getElementById('preloader').style.opacity = '0';
      document.getElementById('preloader').style.zIndex = '-100';
    }, 500);
  };
</script>
</body>
</html>