<div class="main-modal">
  <div class="main-modal__body">
    <div class="close"></div>
    <div class="title">
      Заполните свои данные <br>
      и наши менеджеры свяжутся с вами
    </div>
    <div class="block-form">
      <form method="post" class="email-send">
        <input type="text" name="name" placeholder="Ваше имя">
        <input type="text" name="tel" placeholder="Ваш номер телефона" required>
        <input type="text" name="email" placeholder="Ваш Email">
        <input type="text" name="question" placeholder="Ваш Вопрос (необязательно)">
        <button class="red-button" type="submit">Отправить</button>
        <div class="checkbox-wrapper">
          <div class="political-check__text">Нажимая кнопку "отправить", вы соглашаетесь с <a href="/media/{{pdf}}" target="_blank">политикой обработки данных</a></div>
        </div>
      </form>
    </div>
  </div>
</div>