<header class="header header--page">
  <div class="header__menu">
    <div class="icon"></div>
    <div class="name">Меню</div>
  </div>
  <a href="/" class="header__logo"></a>
  <div class="red-button red-button--transparent main-modal-show">Написать нам</div>
</header>
<div class="header__wrapper block-on-header-style" style="background-image: url(/media/{{page.page_photo}});">
  <div class="title__wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bread-crumb"><span><a href="/business/">Бизнесу</a></span> / {{page.bread_crumbs}}</div>
          <h1 class="page-title">{{page.page_name}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>