<section class="ctm" style="z-index: {{z}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h3 class="ctm__title">Формат СТМ <br> для партнеров Vivid</h3>
        <div class="ctm__desc">Мы предлагаем нашим партнерам формат продажи под собственной <br> торговой маркой.</div>
        <div class="red-button main-modal-show">Узнать больше</div>
        <div class="who-use">Кто использует формат CTM:</div>
        <div class="use-list">
          <picture class="item">
            <source type="image/img+svg" srcset="/static/home/media/icon/us1.svg">
            <img src="/static/home/media/icon/logo1.svg" alt="logo">
          </picture>
          <picture class="item">
            <source type="image/img+svg" srcset="/static/home/media/icon/us2.svg">
            <img src="/static/home/media/icon/logo2.svg" alt="logo">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>