<section class="main-box-wrapper sticky-wrapper" style="padding-bottom: 148px; background-color: #F1F1F1; z-index: {{z}}">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="sticky-wrapper__box">
          <div class="sticky-wrapper__box__content">
            <h3 class="main-box-wrapper__title" style="padding-top: 148px">Первые в России <br> и мире!</h3>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="main-box-wrapper__content" style="padding-top: 148px; height: 100vh;">
          <div class="main-box-wrapper__content__text">
            Наша компания первая в России и мире, которая производит подсолнечное масло первого холодного отжима в
            промышленных объемах по технологии «extra virgin». Благодаря использованию в производстве новейших
            технологий и высококлассного европейского оборудования, мы смогли снизить стоимость нашего продукта примерно
            до себестоимости обычного рафинированного масла.
          </div>
          <picture class="main-box-wrapper__content__image">
            <source type="image/" srcset="/static/home/media/image/img1.jpg">
            <img src="/static/home/media/image/img1.jpg" alt="logo">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>