.advantages {
  background: #F1F1F1;
  padding: 128px 0 94px 0;
  position: relative;

  .main-title {
    margin-bottom: 71px;
  }

  .item {
    margin-bottom: 40px;

    .icon {
      width: 40px;
      height: 40px;
      margin-bottom: 25px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .name {
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px;
    }

    .desc {
      font-size: 14px;
      line-height: 28px;
      color: #767676;
    }
  }
}