.cold-pressed {
  background-color: $mainDark;
  position: relative;

  .main-title {
    color: #fff;
  }

  .oil-oil__text {
    color: #fff;
  }
}

.cold-pressed__top-text {
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 56px;
}