.content-card {
  padding-top: 64px;
  margin-top: 111.83px;
}

.card-wrapper {
  margin-top: 24px;
  margin-bottom: 64px;

  .card-box {
    width: 100%;
    height: 574px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 48px;
    margin-bottom: 32px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      border-radius: 8px;
    }

    img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all .9s ease-in-out;
      object-fit: cover;
      object-position: center;
    }

    &:hover {
      img {
        transform: scale(1.5);
      }
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 6px;
      position: relative;
      z-index: 1;
    }

    &__name {
      font-size: 40px;
      line-height: 56px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      margin-bottom: 25px;
      position: relative;
      z-index: 1;
    }

    &__desc {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      position: relative;
      z-index: 1;
      max-width: 391px;
    }

    &__link {
      display: block;
      position: absolute;
      bottom: 48px;
      right: 48px;
      width: 56px;
      height: 56px;
      min-width: 56px;
      border-radius: 50%;
      background-color: $chery;
      z-index: 1;
      background-position: center;
      background-size: 16px;
      background-repeat: no-repeat;
      background-image: url(../media/icon/arrow.svg);

      &::after {
        content: '';
        position: absolute;
        top: -8px;
        left: -8px;
        width: calc(100% + 16px);
        height: calc(100% + 16px);
        border-radius: 50%;
        border: 8px solid rgba(239, 62, 66, 0.2);
        opacity: 0;
        transition: all .3s ease-in-out;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

    &--no-img {
      background-color: #F1F1F1;

      &:after {
        display: none;
      }

      .card-box__title {
        color: rgba(34, 34, 34, 0.6);
      }

      .card-box__contact {
        margin-bottom: 48px;

        &:last-child {
          margin-bottom: 0;
        }

        .contact {
          font-size: 40px;
          line-height: 56px;
          letter-spacing: -0.02em;
          color: $mainDark;
          margin-bottom: 8px;
        }

        .name {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.01em;
          color: $mainDark;
          font-weight: 300;
          max-width: 391px;
        }

        .card-box__contact__button {
          padding: 17px 32px 18px 32px;
          font-size: 18px;
          line-height: 22px;
          display: block;
          position: absolute;
          bottom: 48px;
          left: 48px;
        }
      }
    }

    &--no-h {
      height: 396px;
    }

    &--other {
      background-color: #fff;

      &:after {
        display: none;
      }

      .card-box__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 80px;
        color: $mainDark;
        margin-bottom: 24px;
      }

      .card-box__contact {
        margin-bottom: 24px;
      }
    }

    &--dark {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $mainDark;

      .card-box__title {
        color: #fff;
        margin-bottom: 8px;
      }

      .card-box__text {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 24px;
      }

      .red-button {
        font-size: 18px;
        line-height: 22px;
        padding: 17px 37px 18px 32px;
      }
    }
  }
}