@media screen and (max-width: 575px) {
  // header
  .header {
    .red-button {
      display: none;
    }

    &__logo {
      margin-left: 0;
      left: auto;
      right: 48px;
    }
  }
  // header end

  // main-modal
  .menu__body {
    .menu__form {
      .contact-item {
        .link {
          font-size: 25px;
        }
      }
    }
  }

  .menu__header {
    .menu__close {
      .icon {
        width: 18px;
        height: 18px;
        min-width: 18px;
        margin-right: 10px;
      }

      .text {
        display: none;
      }
    }

    .menu__lang {
      .item {
        font-size: 12px;
      }
    }
  }

  // doc slider in business
  .reports__navigation {
    flex-direction: column;

    .main-title {
      margin-bottom: 20px;
    }

    .reports__buttons {
      width: 100%;
      justify-content: space-between;
    }
  }

  .reports__slider__item {
    width: 280px;
    min-width: 280px;
    margin-right: 15px;
  }
  // doc slider in business end

  // content card
  .card-wrapper {
    .card-box {
      padding: 16px;
    }

    .card-box__name {
      font-size: 30px;
      line-height: 40px;
    }

    .card-box__link {
      right: 16px;
      bottom: 16px;
    }

    .card-box--dark {
      .card-box__text {
        text-align: center;
      }
    }

    .card-box--no-img {
      .card-box__contact {
        .contact {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }
  }
  // content card end

  // articles
  .article__share {
    .icon-wrapper {
      .item {
        width: 60px;
        min-width: 60px;
        height: 60px;
        background-size: 20px;
      }
    }
  }
  // articles end

  // production
  .materials__text {
    .desc {
      font-size: 14px;
      line-height: 28px;
    }
  }
  // production end

  // recipes slider
  .recipes__slider {
    .item {
      min-width: 100%;
      width: 100%;
      padding-right: 25px;
    }

    .prev {
      left: -5px;
    }

    .next {
      right: -5px;
    }
  }
  // recipes slider end

  // main modal form
  .main-modal {
    .main-modal__body {
      .title {
        font-size: 26px;
        line-height: 36px;
      }

      .block-form {
        input {
          margin-bottom: 12px;
        }
      }
    }
  }
  // main modal form end

  // career modal
  .vac-modal__body {
    .vac-modal__head {
      .top {
        margin-bottom: 12px;
        flex-direction: column;

        .name {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 12px;
        }

        .right {
          width: 100%;
          justify-content: space-between;
        }
      }
    }
  }

  .vac-profile {
    .body {
      .left {
        display: none;
      }

      .right {
        width: 100%;
        min-width: 100%;
      }
    }
  }
  // career modal end

  // oil page
  .oil-oil,
  .cold-pressed,
  .choice,
  .myth {
    .main-box-wrapper__content__imgs {
      flex-direction: column;

      .item {
        width: 100%;
        min-width: 100%;

        picture {
          height: 162px;

          img {
            height: 162px;
          }
        }
      }
    }
  }

  .myth__top-title,
  .proof__top-title {
    font-size: 24px;
    line-height: 30px;
  }
  // oil page end

  // oil business page
  .presentation__wrapper {
    .presentation__title {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .block-form {
    .main-title {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .ctm {
    .use-list {
      flex-direction: column;
      align-items: flex-start;

      picture {
        margin-right: 0;
        margin-bottom: 12px;

        img {
          margin-right: 0;
          margin-bottom: 12px;
        }
      }
    }
  }

  .retail-slider__list {
    .item {
      flex-direction: column;
    }
  }
  // oil business page end

  // other
  .main-title {
    font-size: 24px;
    line-height: 30px;
  }

  .header__wrapper {
    padding-bottom: 40px;
    min-height: 210px;

    .title__wrapper {
      .page-title {
        font-size: 28px;
        line-height: 40px;
      }
    }
  }

  .partner-contact {
    display: none;
  }
  // other end
}