@media screen and (max-width: 767px) {
  // footer
  .footer {
    &__list {
      margin-bottom: 20px;
    }

    .footer__list__media--left {
      text-align: left;
    }

    .footer__list__media--right {
      text-align: right;
    }
  }
  // footer end

  // main-section
  .main-section {
    &::before,
    &::after {
      display: none;
    }
  }

  .main-section__title {
    font-size: 56px;
    line-height: 70px;
  }
  // main-section end

  // main-info-oil
  .main-info-oil {
    padding-bottom: 48px;
    padding-top: 148px;

    &::after,
    &::before {
      display: none;
    }
  }

  .main-info-oil__bottle {
    max-width: 173px;
    margin-left: -86.5px;
  }

  .main-info-oil__title {
    color: rgba(34, 34, 34, 0.1);
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 391px;
  }

  .main-info-oil__wrapper {
    .main-info-oil__row {
      flex-direction: column;

      .item {
        margin-bottom: 32px;
      }

      .left {
        margin-right: 0;
        text-align: center;
      }

      .right {
        margin-left: 0;
        text-align: center;
      }
    }
  }
  // main-info-oil end

  // news
  .news {
    .main-title {
      font-size: 36px;
    }
  }
  .news__wrapper {
    .head-block {
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-size: 30px;
      }
    }

    .news__item {
      margin-bottom: 20px;
    }
  }
  // news end

  // page production
  .materials {
    .materials__text {
      padding-top: 48px !important;

      .main-title {
        padding-top: 0;
      }

      .desc {
        margin-top: 12px;
      }
    }

    .main-box-wrapper__content {
      padding-top: 16px !important;
      margin-bottom: 24px !important;

      .materials__img {
        margin-bottom: 16px;

        img {
          height: 170px;
        }
      }
    }

    .main-box-wrapper__content__imgs {
      margin-bottom: 0;

      .item {
        &:first-child {
          margin-right: 8px;
        }

        &:last-child {
          margin-left: 8px;
        }

        img {
          height: 136px;
        }
      }
    }
  }

  .training {
    .main-title {
      padding-top: 24px !important;
    }

    .main-box-wrapper__content {
      padding-top: 16px !important;
      margin-bottom: 24px !important;
    }

    .main-box-wrapper__content__imgs {
      display: block;
      margin-bottom: 24px;

      .item {
        margin-right: 0;
        width: 100%;
        min-width: 100%;

        &:first-child {
          margin-bottom: 24px;
        }

        &:last-child {
          display: flex;
          flex-direction: column;

          .myth__title {
            order: 1;
            margin-top: 0 !important;
          }

          picture {
            order: 3;
          }

          .myth__desc {
            order: 2;
          }
        }

        .myth__title {
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
        }

        .myth__desc {
          margin-bottom: 12px !important;
        }

        img,
        picture {
          height: 162px;
        }
      }

      &:last-child {
        margin-bottom: 0;

        .item {
          display: flex;
          flex-direction: column;

          &:first-child {
            .myth__title {
              order: 1;
              margin-top: 0 !important;
              margin-bottom: 12px !important;
            }

            .myth__desc {
              order: 2;
            }

            picture {
              order: 3;
            }
          }
        }
      }
    }

    .training__big-wrapper {
      display: flex;
      flex-direction: column;

      .training__big {
        height: 162px;
        order: 3;
        margin-bottom: 24px;

        img {
          height: 162px;
        }
      }

      .training__big-desc {
        margin: 12px 0;
      }
    }
  }

  .first-press {
    .col-12 {
      &:last-child {
        padding-top: 16px !important;
        margin-bottom: 24px !important;
      }
    }

    .main-title {
      padding-top: 24px !important;
    }

    .first-press__title {
      padding-top: 0 !important;
    }

    .first-press__text {
      margin-bottom: 12px !important;
    }

    .first-press__img {
      height: 162px;

      img {
        height: 162px;
      }
    }

    .first-press__adaptive {
      display: flex;
      flex-direction: column;

      .first-press__img {
        order: 3;
      }

      .first-press__text {
        margin-top: 0 !important;
      }
    }
  }

  .clear {
    .main-title {
      padding-top: 24px !important;
    }

    .clear__title {
      padding-top: 16px !important;
    }

    .clear__text {
      margin-bottom: 24px;
    }

    .main-box-wrapper__content {
      margin-bottom: 24px !important;
    }

    .main-box-wrapper__content__imgs {
      margin-bottom: 16px;

      .item {
        &:first-child {
          margin-right: 8px;
        }

        &:last-child {
          margin-left: 8px;
        }

        img {
          height: 240px;
        }
      }
    }

    .training__big-desc {
      margin: 12px 0 0 0;
    }
  }

  .first-press--grade {
    .first-press__text {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }

  .clear-vivid-oil {
    .main-box-wrapper__content {
      padding-top: 12px !important;
    }

    .training__big-title {
      display: none;
    }

    .training__big-desc {
      display: none;
    }

    .main-box-wrapper__content__imgs {
      margin-bottom: 0;
    }
  }
  // page production end

  // news in main
  .news-in-main {
    .item-news {
      flex-direction: column-reverse;

      .img {
        width: 100%;
        height: 170px;
        margin-bottom: 18px;

        img {
          width: 100%;
          height: 170px;
        }
      }
    }
  }
  // news in main end

  // adv slider
  .advantages-slider {
    .main-title {
      font-size: 30px;
      line-height: 46px;
    }

    .adv-slider__nav {

    }
  }
  // adv slider end

  // career modal
  .vac-profile {
    .body {
      .right {
        form {
          .button-wrapper {
            flex-direction: column;
            align-items: flex-start;

            .resume {
              margin-bottom: 12px;
            }
          }

          .desc-wrapper {
            flex-direction: column;
            
            .political-check__text {
              text-align: left;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
  // career modal end
}