@media screen and (max-height: 769px) {
  .main-info-oil__bottle {
    max-width: 140px;
    margin-left: -70px;
  }

  // main modal form
  .main-modal {
    padding: 20px;

    .main-modal__body {
      overflow: auto;
      max-height: 100%;
    }
  }
  // main modal form end
}