@media screen and (max-width: 991px) {
  // footer
  .footer {
    &__logo-wrapper {
      display: none;
    }

    .footer__list__wrapper {
      display: block;
    }

    &__list {
      margin-left: 0;

      &--pre-logo {
        margin-right: 0;
      }

      &--left {
        margin-right: 0;
      }
    }

    &__list__media-r {
      text-align: right;
    }

    &__logo--media {
      display: block;
    }
  }
  // footer end
}