$mainDark: #222;
$dark: #333;
$chery: #EF3E42;
$oilColor: #FFC01C;

.section-block {
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.red-button {
  padding: 12.5px 16px 13.33px 15px;
  background-color: $oilColor;
  border-radius: 100px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  transition: all .3s;
  
  &:hover {
    cursor: pointer;
  }

  &--transparent {
    //background-color: transparent;
    //border: 1px solid #fff;
  }
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
}

.padding-0 {
  padding-left: 0;
  padding-right: 0;
}

.slider-nav {
  display: flex;

  .prev,
  .next {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 48px;
    height: 48px;
    min-width: 48px;
    background-size: 16px;
    background-position: center;
    background-image: url(../media/icon/arrow-aw.svg);
    background-repeat: no-repeat;
    transition: all .3s;

    &:hover {
      cursor: pointer;
    }
  }

  .next {
    transform: rotate(180deg);
  }

  .disabled {
    opacity: 0.36;

    &:hover {
      cursor: auto;
    }
  }
}